<div class="wrapper" style="background-color: rgba(211, 223, 223, 0.74);">
  <h1 style="color: rgb(15, 19, 17);">Welcome to Grocery Shop</h1>
  <div id="formContent">
      <h3>Please select who you are</h3>
      <form>
        <button routerLink='shopper' class="btn btn-dark btn-lg" type="button" name="user">User</button>
        <button routerLink='employee' class="btn btn-dark btn-lg" type="button" name="employee">Employee</button>
        <button routerLink='admin' class="btn btn-dark btn-lg" type="button" name="admin">Admin</button>
      </form>
  </div>
</div>
